body{
    background: linear-gradient(to top, #232526, #555758);
    background-attachment: fixed;
    color:rgb(228, 228, 228);
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 180px;
}
.navABM div{
    padding-bottom: 7%;
    padding-left: 12%;
}
.navABM a{
    text-decoration: none;
    color:whitesmoke;
    text-shadow: 0.1em 0.1em rgb(37, 37, 37);
}
.title_insurances{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em rgb(37, 37, 37);           
}
.cont_categories{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    flex-wrap: wrap
}
.cont_category{
    -webkit-box-shadow: 18px 32px 15px -4px rgba(0,0,0,0.4);
    -moz-box-shadow: 18px 32px 15px -4px rgba(0,0,0,0.4);
    box-shadow: 18px 32px 15px -4px rgba(0,0,0,0.4);    
    width: 160px;
    height: 160px;
    background-size: 100%;
    margin: 3% 6% 3% 6%;
    display: flex;
    justify-content: center;
    align-items:center ;
    border:3px solid #161616;
}
.cont_category:hover{
    background-image: none !important;
    color: white;
    background-color: #d24553;
}
.items{
    color:white;
    text-shadow: 0.1em 0.1em black;
    text-decoration: none;
}
.items:hover{
    font-size: 22px;
}
.cont_plans{
    margin-top: 3%;
    margin-left: 10%;
}
.cont_plans li{
    list-style: none;
}
.cont_plans li a{
    text-decoration: none;
    color:#ff5555;
    text-shadow: 0.1em 0.1em rgb(37, 37, 37);
}
.contCoverage{
    width: 80%;
    margin: 0 auto;
}
.alert_error{
    margin: 12% 19% 0 19%;
}
